main {
  .home-container {
    padding-left: 0;
    padding-right: 0;
    .two-box {
      .player {
        background: url(../pictures/table2.png);
        background-size: cover;
        background-position: center;
      }
      .gamemaster {
        background: url(../pictures/book.png);
        background-size: cover;
        background-position: center;
      }
    }
  }
}
