.home-main {
  h1,
  h2,
  p {
    color: rgb(90, 44, 0);
  }
  .home-container {
  }
  .two-box {
    .player {
      background: url(../pictures/table2.png);
      background-size: cover;
      background-position: center;
    }
    .gamemaster {
      background: url(../pictures/book.png);
      background-size: cover;
      background-position: center;
    }
  }
}

.btn:hover {
  background: white;
}
